In [1]:
import project

import gbif
import pandas as pd

In [2]:
project.set_data_dir(project.get_project_dir() + 'data/')

gbif.set_gbif_dir(project.get_gbif_dir())

gbif_csv = gbif.get_data()

df = pd.read_csv(gbif.get_data(), sep='\t')

project.fix_gbif_df(df)

df['XC_ID'].head()

Already downloaded zip 0025627-181108115102211
Already downloaded zip 0025627-181108115102211

0    100119
1    100113
2    100082
3    100053
4    100089
Name: XC_ID, dtype: object

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170041 entries, 0 to 170040
Data columns (total 46 columns):
gbifID                           170041 non-null int64
datasetKey                       170041 non-null object
occurrenceID                     170041 non-null object
kingdom                          170041 non-null object
phylum                           168749 non-null object
class                            168749 non-null object
order                            168749 non-null object
family                           168749 non-null object
genus                            168749 non-null object
species                          168535 non-null object
infraspecificEpithet             39389 non-null object
taxonRank                        170041 non-null object
scientificName                   170041 non-null object
countryCode                      169447 non-null object
locality                         170040 non-null object
publishingOrgKey                 170041 non-null object
decimalLatitude                  166100 non-null float64
decimalLongitude                 166100 non-null float64
coordinateUncertaintyInMeters    0 non-null float64
coordinatePrecision              0 non-null float64
elevation                        0 non-null float64
elevationAccuracy                0 non-null float64
depth                            0 non-null float64
depthAccuracy                    0 non-null float64
eventDate                        168070 non-null object
day                              168070 non-null float64
month                            168070 non-null float64
year                             168070 non-null float64
taxonKey                         170041 non-null int64
speciesKey                       168535 non-null float64
basisOfRecord                    170041 non-null object
institutionCode                  0 non-null float64
collectionCode                   170041 non-null object
catalogNumber                    170041 non-null object
recordNumber                     0 non-null float64
identifiedBy                     0 non-null float64
dateIdentified                   0 non-null float64
license                          170041 non-null object
rightsHolder                     170041 non-null object
recordedBy                       170041 non-null object
typeStatus                       0 non-null float64
establishmentMeans               0 non-null float64
lastInterpreted                  170041 non-null object
mediaType                        170041 non-null object
issue                            12938 non-null object
XC_ID                            170041 non-null object
dtypes: float64(18), int64(2), object(26)
memory usage: 59.7+ MB

In [4]:
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue,XC_ID
0,1934871083,b1047888-ae52-4179-9dd5-5448ea342a24,http://data.biodiversitydata.nl/xeno-canto/obs...,Animalia,Chordata,Aves,Passeriformes,Parulidae,Seiurus,Seiurus aurocapilla,...,NaN,CC_BY_NC_4_0,Mike Nelson,Mike Nelson,NaN,NaN,2019-01-03T10:18:26.934Z,SOUND;STILLIMAGE,NaN,100119
1,1934871084,b1047888-ae52-4179-9dd5-5448ea342a24,http://data.biodiversitydata.nl/xeno-canto/obs...,Animalia,Chordata,Aves,Passeriformes,Turdidae,Catharus,Catharus guttatus,...,NaN,CC_BY_NC_4_0,Mike Nelson,Mike Nelson,NaN,NaN,2019-01-03T10:18:26.933Z,SOUND;STILLIMAGE,NaN,100113
2,1934871085,b1047888-ae52-4179-9dd5-5448ea342a24,http://data.biodiversitydata.nl/xeno-canto/obs...,Animalia,Chordata,Aves,Passeriformes,Parulidae,Setophaga,Setophaga ruticilla,...,NaN,CC_BY_NC_4_0,Mike Nelson,Mike Nelson,NaN,NaN,2019-01-03T10:18:26.936Z,SOUND;STILLIMAGE,NaN,100082
3,1934871086,b1047888-ae52-4179-9dd5-5448ea342a24,http://data.biodiversitydata.nl/xeno-canto/obs...,Animalia,Chordata,Aves,Passeriformes,Vireonidae,Vireo,Vireo gilvus,...,NaN,CC_BY_NC_4_0,Andrew Spencer,Andrew Spencer,NaN,NaN,2019-01-03T10:18:27.014Z,SOUND;STILLIMAGE,NaN,100053
4,1934871087,b1047888-ae52-4179-9dd5-5448ea342a24,http://data.biodiversitydata.nl/xeno-canto/obs...,Animalia,Chordata,Aves,Passeriformes,Icteridae,Dolichonyx,Dolichonyx oryzivorus,...,NaN,CC_BY_NC_4_0,Mike Nelson,Mike Nelson,NaN,NaN,2019-01-03T10:18:26.932Z,SOUND;STILLIMAGE,NaN,100089

In [5]:
df['kingdom'].unique()

array(['Animalia'], dtype=object)

In [6]:
df['phylum'].unique()

array(['Chordata', nan], dtype=object)

In [7]:
df['phylum'].isnull().sum()

1292

In [8]:
df_null_classification = df[df['phylum'].isnull()][['gbifID', 'XC_ID']]

df_null_classification.to_csv(project.get_gbif_dir() + 'gbif_null_classifications.csv', sep='\t')

df_null_classification

            gbifID   XC_ID
2028    1934873111  107195
2194    1934873277  107628
2196    1934873279  107637
2203    1934873286  107788
2209    1934873292  107789
2240    1934873323  108187
2330    1934873413  108202
3671    1934874754  113153
3675    1934874758  113154
5041    1934876124  116742
6884    1934877967  121181
7050    1934878133  121807
7119    1934878202  121819
7186    1934878269  121813
7205    1934878288  122350
8623    1934879706  127120
8806    1934879889  128352
8845    1934879928  128305
8864    1934879947  128302
8875    1934879958  128353
8934    1934880017  128351
8935    1934880018  128693
9352    1934880435  131500
9449    1934880532  132422
9619    1934880702  133453
9905    1934880988  134146
9948    1934881031  134147
9961    1934881044  134148
11234   1934882317  140601
11334   1934882417  141292
...            ...     ...
165593  1978666675  442514
165595  1978666677  442528
165598  1978666680  442814
165600  1978666682  442512
165616  1978666698  442414
165688  1978666770  443785
165714  1978666796  443744
165752  1978666834  442501
165758  1978666840  442502
165761  1978666843  442117
165770  1978666852  442498
165771  1978666853  442206
165774  1978666856  442568
165782  1978666864  442399
165784  1978666866  442285
165786  1978666868  442130
165795  1978666877  442503
165818  1978666900  442570
165828  1978666910  442524
165849  1978666931  442718
165859  1978666941  442537
166000  1978667082  445021
166126  1978667208  443111
166137  1978667219  442759
166177  1978667259  442525
166335  1978667417  444524
166406  1978667488  445511
169507  1978670589   89113
169774  1978670856   95721
169792  1978670874   97983

[1292 rows x 2 columns]

In [9]:
df['class'].unique()

array(['Aves', nan], dtype=object)

In [10]:
df['class'].describe()

count     168749
unique         1
top         Aves
freq      168749
Name: class, dtype: object

In [11]:
df['order'].unique()

array(['Passeriformes', 'Cuculiformes', 'Gruiformes', 'Columbiformes',
       'Piciformes', 'Galliformes', 'Charadriiformes',
       'Procellariiformes', 'Pelecaniformes', 'Trogoniformes',
       'Psittaciformes', 'Accipitriformes', 'Anseriformes',
       'Caprimulgiformes', 'Strigiformes', 'Apodiformes', 'Coraciiformes',
       'Bucerotiformes', 'Ciconiiformes', 'Podicipediformes',
       'Falconiformes', 'Musophagiformes', 'Tinamiformes', nan,
       'Gaviiformes', 'Eurypygiformes', 'Suliformes', 'Cariamiformes',
       'Sphenisciformes', 'Phaethontiformes', 'Opisthocomiformes',
       'Phoenicopteriformes', 'Leptosomiformes', 'Pteroclidiformes',
       'Casuariiformes', 'Otidiformes', 'Coliiformes',
       'Mesitornithiformes', 'Rheiformes', 'Struthioniformes',
       'Apterygiformes'], dtype=object)

In [12]:
df['family'].unique().size

224

In [13]:
df['genus'].unique().size

2024

In [14]:
df['species'].unique().size

8503